fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
google-api-python-client==2.108.0
opencv-python==4.8.1.78
numpy==1.26.2
pydantic==2.5.2
faiss-cpu==1.7.4
opencv-python-headless==4.9.0.80
Pillow==10.2.0
open_clip-torch==2.24.0 